@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

::-moz-selection {
  background: var(--color-accent);
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: var(--color-accent);
  color: #fafafa;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --font-sans: "Lato", Helvetica, sans-serif;
  --font-title: "Playfair Display", serif;
  --font-mono: monospace;

  --color-bg: #ffffff;
  --color-text: #ffffff;
  --color-accent: #FF6B2D; 

  --color-secondary: #2e5339; 
  --color-highlight: #f6c453; 
}

/*body {
  position: relative;
  margin: 0;
  height: 100%;
}*/

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/bivouac-light.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  animation: fadeInBg 3s ease-in-out forwards;
  z-index: -10;
  filter: brightness(0.9) blur(2px); 
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/bivouac-light.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -9;
  pointer-events: none;
  animation: fadeInBg 3s ease-in-out forwards, bgMove 20s ease-in-out infinite;
}

Mode sombre 
html.dark body::before {
  background-image: url("/bivouac.png");  
  filter: brightness(0.6) blur(3px);  
}

/* --- Mode sombre --- */
html.dark {
  --color-bg: #0B1B2B;
  --color-text: #F5F5F2;
  --color-accent: #57C785; 

  --color-card-bg: #57C785;
  --color-card-border: #57C785;

  --color-secondary: #b0b0aa; 
  --color-highlight: #61DAFB;
}


html.dark body::after {
  background-image: url("/bivouac.png");
  opacity: 0.2;
}

@keyframes bgMove {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.05) translate(2px, -2px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes fadeInBg {
  to {
    opacity: 1;
  }
}

@keyframes scrollTextLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* -50% si texte doublé */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1.5rem); /* décalage vertical */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.scroll-text-container {
  position: relative;
  overflow: hidden;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0);
}

/* Animation déclenchée uniquement au hover */
.group:hover .scroll-text {
  animation: scrollTextLoop 4s linear infinite;
}

.text-accent {
  color: var(--color-accent);
}

.button-accent {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.button-empty {
  background-color: transparent;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.button-empty:hover {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.navbar {
  color: white;
  transition: color 0.3s ease;
}

.navbar:hover {
  color: var(--color-highlight);
}

.navbar.active {
  color: var(--color-accent);
}

.page-bg {
  color: var(--color-bg)
}


p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}
