@import "tailwindcss";

::-moz-selection {
  background: #EDDD53;
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: #EDDD53;
  color: #fafafa;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Arial', 'Helvetica', sans-serif;
  --font-mono: monospace;
}

body {
  background: #ffffff;
  color: #171717;
}

html.dark body {
  background: #171717;
  color: #ededed;
}

html {
  scroll-behavior: smooth;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}