@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

::-moz-selection {
  background: #eddd53;
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: #eddd53;
  color: #fafafa;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --background: #0a0a0a;
  --foreground: #0a0a0a;
  --font-sans: "Lato", Helvetica, sans-serif;
  --font-title: "Playfair Display", serif;
  --font-mono: monospace;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  color: var(--background);
  font-family: var(--font-sans);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/bivouac-light.png"); /* ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  animation: fadeInBg 3s ease-in-out forwards;
  z-index: -10;
  filter: brightness(0.9) blur(2px); /* ajoute un flou et atténue */
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/bivouac-light.png"); /* ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -9;
  pointer-events: none;
  animation: fadeInBg 3s ease-in-out forwards, bgMove 20s ease-in-out infinite;
}

/* Mode sombre */
html.dark body::before {
  background-image: url("/bivouac.png"); /* version dark */
  filter: brightness(0.6) blur(3px); /* un peu plus sombre et plus flouté */
}

html.dark body::after {
  background-image: url("/bivouac.png");
  opacity: 0.2;
}

@keyframes bgMove {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.05) translate(2px, -2px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes fadeInBg {
  to {
    opacity: 1;
  }
}

@keyframes scrollTextLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* -50% si texte doublé */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1.5rem); /* décalage vertical */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.scroll-text-container {
  position: relative;
  overflow: hidden;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0);
}

/* Animation déclenchée uniquement au hover */
.group:hover .scroll-text {
  animation: scrollTextLoop 4s linear infinite;
}

/* Ici, la vraie règle pour le mode dark quand la classe dark est présente */
html.dark {
  background-color: #0a0a0a;
}

html {
  background-color: #fafafa;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}
